/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h2{
    color:white;
    font-size: 38px;
    text-align: center;
}

h2 span{
    color: #8ceafd;
}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-adicione button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color: #66cdc6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #baf3ff;
    transform: scale(1.05);
}


section{
    margin-bottom: 80px;
}

@keyframes crescer {

    0%{
       transform:  scale(1.0);
    }100%{
       transform:  scale(1.1);
    }
    
}
/* CABEÇARIO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:#4e5f5e;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: white;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* INICIO */

section.inicio{
    padding: 40px 4%
}

section.inicio .flex{
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.inicio .txt-inicio h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.inicio .txt-inicio h1 span{
    color: #66cdc6;
    font-size: 40px;
}

.inicio .txt-inicio p{
    color: white;
    font-size: 20px;
    margin: 40px 0px;
  
}

.inicio .img-inicio img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }100%{
        top: 30px;
    }
    
}
/* SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p{
    margin: 30px 0;
    color:white;
    text-align: justify;
}

.sobre .btn-repo button{
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    animation: crescer 2s ease-in-out infinite alternate;
}

/* SOBRE */

section.comandos{
    padding: 40px 4%;
}

section.comandos .img-comandos{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

section.comandos .flex{
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.comandos .titulo {
    align-items: center;
}

.comandos .comandos-box {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border-radius: 25px;
    margin-top: 15px;
    transition: 1s;
}

.comandos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #79e9e1b7;
}

section.comandos .txt-comandos {
    width: 100%;
    text-align: left;
}

.txt-comandos .comando{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 55px;
    margin-bottom: 45px;
}
section.comandos .txt-comandos h3{
   margin: 0;
    font-size: 20px;
    line-height: 1.2;
    color: white;
}

.txt-comandos h3 span{
    color: #66cdc6;
}

.txt-comandos p{
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

section.comandos p.desc{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    color: white;
}

section.comandos p.desc span{
    color: #66cdc6;
}

/* SUPORTE */

section.suporte{
    padding: 40px 4%;
}

section.suporte .txt-suporte{
    width: 100%;
    
    text-align: center;
}